.contact {
    padding: 2rem 0 4rem;
    text-align: center;
    & .text {
        max-width: 90%;
        width: 100%;
        margin: 0 auto;
        padding-top: 1.5rem;
        font-family: $font-main;
        & p {
            color: $black-2;
            font-size: 15px;
            font-weight: 300;
            line-height: 1.5;
            margin: 0;
            padding-bottom: 1rem;
        }
        & a {
            font-size: 15px;
            color: $black-2;
            transition: .3s ease all;
            &:hover, &:focus {
                color: $heading-color;
            }
        }
    }
    @media screen and (min-width: 768px) {
        & .text {
            max-width: 500px;
            & p {
                font-size: 18px;
            }
            & a {
                font-size: 18px;
            }
        }
    }
    @media screen and (min-width: 992px) {
        & .text {
            max-width: 600px;
        }
    }
}