.gridImages {
    padding: 3rem 0;
    & .heading {
        text-align: center;
        color: $heading-color;
    }
    @media only screen and (min-width: 1200px) {
        & .heading {
            font-size: 40px;
            padding-bottom: 3rem;
        }
    }
}