.textBlock {
    padding: 5rem 0;
    .container {
        .row {
            flex-direction: column-reverse;
            .heading {
                margin: 0;
                text-align: center;
                font-size: 35px;
                font-weight: 600;
                color: $heading-color;
            }
            & .text {
                margin: 0 auto;
                padding-top: 1.5rem;
                text-align: center;
                max-width: 90%;
                & p {
                    margin: 0;
                    font-family: $font-main;
                    font-size: 15px;
                    line-height: 1.5;
                    font-weight: 300;
                    color: $black-2;
                    padding-bottom: 1rem;
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 768px) {

    }
    @media only screen and (min-width: 992px) {
        padding: 7rem 0;
        .container {
            .row {
                flex-direction: row;
                & .text {
                    & p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}


//figure
.textBlock__figure {
    position: relative;
    margin: 3rem auto 0;
    max-width: 380px;
    @media only screen and (min-width: 992px) {
        margin-top: 0;
        max-width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.textBlock__figure--img {
    position: relative;
    max-width: 380px;
    margin: 0 auto;
    z-index: 5;
    & img {
        width: 100%;
        display: block;
        object-fit: cover;
    }
    @media only screen and (min-width: 992px) {
        max-width: 500px;
        width: 100%;
    }
    @media only screen and (min-width: 1200px) {
        max-width: 600px;
    }
}


.textBlock__figure--topGif {
    position: absolute;
    max-width: 85px;
    right: 65px;
    top: 25px;
    transform: rotate(20deg);
    & img {
        width: 100%;
    }
    @media only screen and (min-width: 992px) {
        max-width: 125px;
        right: 85px;
        top: 165px;
    }
    @media only screen and (min-width: 1200px) {
        right: 123px;
        top: 50px;
    }
}


.textBlock__figure--bottomGif {
    position: absolute;
    max-width: 80px;
    left: 88px;
    bottom: -26px;
    transform: rotate(-135deg);
    & img {
        width: 100%;
    }
    @media only screen and (min-width: 992px)  {
        max-width: 125px;
        left: 95px;
        bottom: 105px;
    }
    @media only screen and (min-width: 1200px) {
        left: 140px;
        bottom: -45px;
    }
}